.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 50px 5px 50px 5px;
  background-color: #fa261c;
  color: white;
  min-width: 100%;
}

.logo-restaurant-name-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: bold;
  font-size: 3.5vw;
  min-width: 50%;
}

.restaurant-logo {
  width: 30%;
  height: 10%;
  padding-right: 10px;
}

.profile-name {
  position: relative;
  display: inline-block;
  font-weight: bold;
  inline-size: 70%;
  overflow-wrap: break-word;
}

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 0.1vw;
  z-index: 1;
}

.profile-name:hover .dropdown-content {
  display: block;
  color: black;
  background-color: white;
}

.cart-icon {
  display: flex;
  justify-content: center;
}

 .cart-item-count {
  margin-left: -28px;
  color: white;
  font-weight: bolder;
  border-radius: 100px;
  height: 40px;
  width: 40px;
  font-size: 20px;
}

.cart-icon-content {
  height: 45px;
}

.cart-profile-name-container {
  display: flex;
  width: 150px;
  align-items: center;
  justify-content: space-between;
}